/* jimu-widget-coordinate-setting */
.jimu-widget-legend-setting{
  margin:0;
  padding:0;
  font-size:15px;
}
.jimu-widget-legend-setting .dijitArrowButtonContainer{
  width: 17px;
}
.jimu-widget-legend-setting .dijitSelect{
  height: 30px;
  width: 100%;
}
.jimu-widget-legend-setting .setting-table > thead > tr > th,
.jimu-widget-legend-setting .setting-table > tbody > tr > td{
  height:40px;
  line-height:40px;
  vertical-align:middle;
}

.jimu-widget-legend-setting .input-table > tbody > tr > .first{
  width:auto;
  text-align: right;
  padding-right:15px;
}

.jimu-widget-legend-setting .input-table > tbody > tr > .second{
  width:200px;
}

.jimu-widget-legend-setting .input-table > tbody > tr > .third{
  width:35px;
}

.jimu-widget-legend-setting .layer-chooser-section{
  margin-top: 20px; 
}

.jimu-widget-legend-setting .layer-chooser-div{
  border: 1px solid #d9dde0;
  min-height: 130px;
  max-height: 410px; 
  overflow-y: auto;
}

.jimu-widget-legend-setting .layer-chooser-section .tree-root-ul{
  border: 0px solid #d9dde0;
}
