.jimu-widget-share-setting {

}

.jimu-widget-share-setting .row {
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
}

.jimu-widget-share-setting .cb {
  vertical-align: middle;
  margin: 0 5px;
}

.jimu-widget-share-setting .cb-label {
  display: inline-block;
  vertical-align: middle;
}
