#main-loading{
	background-color:#18453b;
	position:relative;
}
#main-loading #app-loading{
	position: absolute;
	background-repeat: no-repeat;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#main-loading #loading-gif{
	position: absolute;
	background-image: url('images/loading.gif');
	background-repeat: no-repeat;
	width:125px;
	height:125px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
