.jimu-widget-select {
  width: 100%;
  height: 100%;
  min-width: 280px;
  overflow: hidden;
}
.jimu-widget-select .jimu-viewstack {
  height: 100%;
}
.jimu-widget-select .jimu-viewstack .view {
  position: relative;
}
.jimu-widget-select .tool-section {
  height: 36px;
  position: relative;
}
.jimu-widget-select .tool-section .label {
  font-size: 14px;
  line-height: 36px;
  margin: 0 10px;
}
.jimu-widget-select .tool-section .setting {
  width: 16px;
  height: 16px;
  margin: 10px;
  cursor: pointer;
}
.jimu-widget-select .selectable-check {
  width: 36px;
  height: 36px;
  cursor: pointer;
  background: url(images/unchecked.svg) no-repeat center;
}
.jimu-widget-select .selectable-check:hover {
  background: url(images/unchecked_hover.svg) no-repeat center;
}
.jimu-widget-select .selectable-check.checked {
  background: url(images/checked.svg) no-repeat center;
}
.jimu-widget-select .selectable-check.checked:hover {
  background: url(images/checked_hover.svg) no-repeat center;
}
.jimu-widget-select .seperator {
  width: 100%;
  height: 1px;
  background: #D7D7D7;
  margin-top: 20px;
}
.jimu-widget-select .title {
  font-family: "Avenir Light";
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  margin: 20px 0;
}
.jimu-widget-select .normal-label, .jimu-widget-select .light-label, .jimu-widget-select .selectable-layer-item .layer-row .layer-name, .jimu-widget-select .selectable-layer-item .layer-row .selected-num, .jimu-widget-select .medium-label {
  line-height: 36px;
  height: 36px;
  font-size: 12px;
  color: #000000;
}
.jimu-widget-select .light-label, .jimu-widget-select .selectable-layer-item .layer-row .layer-name, .jimu-widget-select .selectable-layer-item .layer-row .selected-num {
  font-family: "Avenir Light";
}
.jimu-widget-select .medium-label {
  font-family: "Avenir Medium";
}
.jimu-widget-select .layer-nodes {
  position: absolute;
  top: 100px;
  bottom: 0;
  width: 100%;
  overflow: auto;
}
.jimu-widget-select .jimu-multiple-layers-featureset-chooser .draw-item {
  padding: 0;
}
.jimu-widget-select .jimu-multiple-layers-featureset-chooser .btn-clear {
  padding: 0;
  width: 30%;
}
.jimu-rtl .jimu-widget-select .jimu-multiple-layers-featureset-chooser .btn-clear {
  float: left;
}
.jimu-widget-select .selectable-layer-item {
  width: 100%;
  height: 36px;
  position: relative;
}
.jimu-widget-select .selectable-layer-item .layer-row {
  height: 36px;
  position: relative;
  cursor: pointer;
}
.jimu-widget-select .selectable-layer-item .layer-row > div {
  display: inline-block;
}
.jimu-widget-select .selectable-layer-item .layer-row .layer-name {
  margin: 0 5px;
  position: absolute;
  left: 36px;
  right: 72px;
}
.jimu-rtl .jimu-widget-select .selectable-layer-item .layer-row .layer-name {
  left: 72px;
  right: 36px;
}
.jimu-widget-select .selectable-layer-item .layer-row .selected-num {
  width: 36px;
  margin: 0 5px;
  text-align: center;
  position: absolute;
  right: 36px;
}
.jimu-rtl .jimu-widget-select .selectable-layer-item .layer-row .selected-num {
  right: auto;
  left: 36px;
}
.jimu-widget-select .selectable-layer-item .layer-row .feature-action {
  position: absolute;
  right: 0;
  width: 36px;
  height: 36px;
  padding: 10px;
}
.jimu-rtl .jimu-widget-select .selectable-layer-item .layer-row .feature-action {
  right: auto;
  left: 0;
}
.jimu-widget-select .selectable-layer-item:hover {
  background-color: #E5E5E5;
}
.jimu-widget-select .selectable-layer-item:hover .selected-num {
  font-weight: bold;
}
.jimu-widget-select .selectable-layer-item.no-action .selected-num {
  font-weight: normal;
}
.jimu-widget-select .selectable-layer-item.no-action:hover {
  background-color: #FFFFFF;
}
.jimu-widget-select .selectable-layer-item.no-action .layer-row {
  cursor: default;
}
.jimu-widget-select .selectable-layer-item.no-action .layer-row .feature-action {
  cursor: default;
}
.jimu-widget-select .selectable-layer-item.no-action .layer-row .feature-action:hover {
  color: rgba(0, 0, 0, 0.5);
}
.jimu-widget-select .selectable-layer-item.no-action .selected-num {
  color: #B7B7B7;
}
.jimu-widget-select .selectable-layer-item.no-action .selected-num:hover {
  font-weight: normal;
}
.jimu-widget-select .selectable-layer-item.invisible .selectable-check {
  background: url(images/unchecked_invisible.svg) no-repeat center;
}
.jimu-widget-select .selectable-layer-item.invisible .selectable-check:hover {
  background: url(images/unchecked_invisible_hover.svg) no-repeat center;
}
.jimu-widget-select .selectable-layer-item.invisible .selectable-check.checked {
  background: url(images/checked_invisible.svg) no-repeat center;
}
.jimu-widget-select .selectable-layer-item.invisible .selectable-check.checked:hover {
  background: url(images/checked_invisible_hover.svg) no-repeat center;
}
.jimu-widget-select .selectable-layer-item.invisible .layer-name {
  color: #B7B7B7;
}
.jimu-widget-select .details-node {
  widows: 100%;
}
.jimu-widget-select .details-node .header {
  height: 40px;
  text-align: center;
}
.jimu-widget-select .details-node .header .switch-back {
  width: 40px;
  height: 40px;
}
.jimu-widget-select .details-node .header .switch-back .feature-action {
  margin: 12px;
}
.jimu-widget-select .details-node .header .layer-name {
  font-family: "Avenir Medium";
  font-size: 14px;
  font-size: 14px;
  color: #000000;
  height: 40px;
  line-height: 40px;
}
.jimu-widget-select .details-node .content {
  position: absolute;
  top: 40px;
  bottom: 0;
  width: 100%;
  overflow: auto;
}
.jimu-widget-select .details-node .content .graphic-item {
  height: 36px;
  width: 100%;
  position: relative;
}
.jimu-widget-select .details-node .content .graphic-item:hover {
  background: #E5E5E5;
}
.jimu-widget-select .details-node .content .graphic-item .feature-item-row {
  position: relative;
  height: 36px;
  cursor: pointer;
}
.jimu-widget-select .details-node .content .graphic-item .feature-item-row .feature-icon {
  position: absolute;
  left: 0;
  width: 36px;
  height: 36px;
}
.jimu-rtl .jimu-widget-select .details-node .content .graphic-item .feature-item-row .feature-icon {
  left: auto;
  right: 0;
}
.jimu-widget-select .details-node .content .graphic-item .feature-item-row .action-btn {
  position: absolute;
  right: 0;
  padding: 10px;
}
.jimu-rtl .jimu-widget-select .details-node .content .graphic-item .feature-item-row .action-btn {
  right: auto;
  left: 0;
}
.jimu-widget-select .details-node .content .graphic-item .feature-item-row .label-node {
  position: absolute;
  left: 36px;
  right: 36px;
  margin: 0 10px;
}

/*# sourceMappingURL=style.css.map */
